
dataset/0513_SFTDataset/

experiment_result/test_pose_estimate/

experiment_result/test_pose_estimate_2/

experiment_result/test_pose_estimate_3/

model/gemma3-4b-sft-textonly-2025_06_20_0842/

.idea/
/model/gemma-3-4b-ptmergedata-2025_07_25_0235/
/model/gemma-test/
/model/merged_teacher_model/

model/google/gemma-3-27b-ptmergedata-2025_09_03_0924/checkpoint-2380/adapter_config.json

model/google/gemma-3-27b-ptmergedata-2025_09_03_0924/checkpoint-2380/adapter_model.safetensors

model/google/gemma-3-27b-ptmergedata-2025_09_03_0924/checkpoint-2380/chat_template.jinja

model/google/gemma-3-27b-ptmergedata-2025_09_03_0924/checkpoint-2380/optimizer.pt

model/google/gemma-3-27b-ptmergedata-2025_09_03_0924/checkpoint-2380/preprocessor_config.json

model/google/gemma-3-27b-ptmergedata-2025_09_03_0924/checkpoint-2380/processor_config.json

model/google/gemma-3-27b-ptmergedata-2025_09_03_0924/checkpoint-2380/README.md

model/google/gemma-3-27b-ptmergedata-2025_09_03_0924/checkpoint-2380/rng_state.pth

model/google/gemma-3-27b-ptmergedata-2025_09_03_0924/checkpoint-2380/scheduler.pt

model/google/gemma-3-27b-ptmergedata-2025_09_03_0924/checkpoint-2380/special_tokens_map.json

model/google/gemma-3-27b-ptmergedata-2025_09_03_0924/checkpoint-2380/tokenizer_config.json

model/google/gemma-3-27b-ptmergedata-2025_09_03_0924/checkpoint-2380/tokenizer.json

model/google/gemma-3-27b-ptmergedata-2025_09_03_0924/checkpoint-2380/trainer_state.json

model/google/gemma-3-27b-ptmergedata-2025_09_03_0924/checkpoint-2380/training_args.bin
